@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu+Mono:wght@700&family=Water+Brush&display=swap");
.foto-a-galeria {
  background-image: url(../imagenes/back-camino-bosque.jpg);
  height: 1200px;
  width: 100%;
  padding: 50px;
  column-gap: 40px;
}

.chalten-gral {
  display: flex;
  flex-flow: wrap;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.titulo-vitacora {
  font-size: 35px;
  font-weight: bolder;
  color: antiquewhite;
  margin: 26px;
}

.fotos-chalten:hover {
  transform: scale(1.1, 1.1);
  transition: all 1s;
}

.texto-vitacora {
  margin: 26px;
}

.foto-texto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 38px;
}

.mapa-float {
  float: left;
}

.item-foto-chalten {
  flex: 0 1 320px;
}

.general-container {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 85px;
  background-color: #b56306;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 4rem;
}
.general-container .item-navbar {
  margin-left: 20px;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

/*font-family: 'Patrick Hand', cursive;*/
/*nav bar inicio*/
header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.nav-general {
  height: 50px;
  width: 100%;
}

.general-container {
  height: 40px;
  background-color: #b56306;
  /*
  background: rgb(136,131,126);
  background: linear-gradient(0deg, rgba(136,131,126,1) 0%, rgba(246,180,83,0.8153079649661681) 100%);*/
  /*margin-top: 10px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  color: antiquewhite;
}

.item-navbar {
  margin-left: 40px;
  text-decoration: none;
  color: antiquewhite;
}

/*nav-link animacion*/
.item-navbar:hover {
  transform: scale(1.2, 1.2);
  transition: all 1s;
}

/*INICIO DEL FOOTER*/
/*footer*/
.footer-back {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*
.mb-3 {
    width: 40%;
    font-family: 'Ubuntu Mono', monospace;

}
*/
.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  background-color: #b56306;
}

.iconos-lista {
  list-style: none;
  display: flex;
  align-items: flex-end;
  margin-right: 100px;
  column-gap: 20px;
}

.icono {
  margin-left: 20px;
}

/*FIN DEL FOOTER*/
/*INICIO MAIN FOTOS Y PARRAFO index.html*/
.principal {
  background-image: url(../imagenes/back-soleado-2.jpg);
  width: 100%;
  /* padding: 250px;*/
  height: 800px;
  color: #351f02;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo {
  color: #351f02;
  align-self: center;
}

.parrafo-fotos {
  font-weight: bold;
  font-size: larger;
  margin-top: -50px;
  color: #351f02;
}

/*FIN MAIN FOTOS Y PARRAFO*/
/*inicio chalten.html*/
/*pagina chalten*/
.back-chalten {
  background-image: url(../imagenes/back-soleado.jpg);
  width: 100%;
}

.fotos-videos-chalten {
  /*padding: 250px;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 650px;
  row-gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.parrafo-video {
  height: 200px;
  box-sizing: 100px 100px;
  color: antiquewhite;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

.fotos-chalten {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

/*pagina la compania*/
.titulos-fotos-perros {
  background-image: url(../imagenes/back-camino-bosque.jpg);
  width: 100%;
  padding: 250px;
}

.img-perros {
  height: 50px;
  width: 50px;
  border: solid 1px black;
}

.titulos-texto {
  color: antiquewhite;
  margin-left: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

p {
  color: antiquewhite;
}

/*pagina viajamos fomulario*/
.formulario {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr;
  justify-content: flex-end;
  color: antiquewhite;
  font-weight: bold;
  height: 250px;
  margin-left: 80px;
}

.viajamos {
  background-image: url(../imagenes/pexels-mehmood-yousafzai-2730356.jpg);
  width: 90%;
  height: auto;
  margin-top: -30px;
}

.titulos-fotos {
  margin: 30px;
  color: antiquewhite;
  font-weight: bold;
  width: 80%;
  align-items: center;
  padding: 25px;
}

/*# sourceMappingURL=style.css.map */
