@import "./generales/imagenes";
@import "./generales/header";
@import "./componentes/galeria";
@import "./componentes/elViaje";
@import "./componentes/elChalten";
@import "./componentes/la-compania";
@import "./componentes/viajamos";
@import "./generales/footer";
@import "./generales/queries";


.item-foto-chalten {
    flex: $medidaImagen;
   // border: $borde;//
}

.general-container {
    position: $position-header;
    z-index: $index-header;
    width: $width-header;
    height: $height;
    background-color: $back;
    font-size: $font-size;
    font-weight: $font-weight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: $margin-top;
    .item-navbar {
        margin-left: $item-margen;
        text-decoration: $item-decoration;
    }
}


//copia del style.css //

* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu+Mono:wght@700&family=Water+Brush&display=swap');
/*font-family: 'Patrick Hand', cursive;*/


/*nav bar inicio*/
header {
    position: fixed;
    z-index: 5;
    width: 100%;
    
}
.nav-general {
    height: 50px;
    width: 100%;
}

.general-container {
    height: 40px;
    background-color: #b56306;
    /*
    background: rgb(136,131,126);
    background: linear-gradient(0deg, rgba(136,131,126,1) 0%, rgba(246,180,83,0.8153079649661681) 100%);*/
    /*margin-top: 10px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: antiquewhite;
}

.item-navbar {
    margin-left: 40px;
    text-decoration: none;
    color: antiquewhite;
}

/*nav-link animacion*/
.item-navbar:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s;
}

/*INICIO DEL FOOTER*/

/*footer*/
.footer-back {
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: column;


}

/*
.mb-3 {
    width: 40%;
    font-family: 'Ubuntu Mono', monospace;

}
*/

/*INICIO MAIN FOTOS Y PARRAFO index.html*/
.principal {
    background-image: url(../imagenes/back-soleado-2.jpg);
    width: 100%;
   /* padding: 250px;*/
   height: 800px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo {
    color:antiquewhite;
    align-self: center;
}
.parrafo-fotos  {
    font-weight: bold;
    font-size: larger;
    margin-top: -50px;
    color: brown;
    width:80%;
    margin-left: 10%;
}

/*FIN MAIN FOTOS Y PARRAFO*/

/*inicio chalten.html*/
/*pagina chalten*/
.back-chalten {
    background-image: url(../imagenes/back-soleado.jpg);
    width: 100%;

}
.fotos-videos-chalten {
    
    /*padding: 250px;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 800px;
    row-gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.parrafo-video {
    height: 200px;
    box-sizing: 100px 100px;
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
}

.fotos-chalten {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

}


/*pagina la compania
.titulos-fotos-perros {
    background-image: url(../imagenes/back-camino-bosque.jpg);
    width: 100%;
    padding: 250px;
}
.img-perros {
    height: 50px;
    width: 50px;
    border: $borde;
}

.titulos-texto {
    color: antiquewhite;
    margin-left: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}
p {
    color: antiquewhite;
}*/

