@import "./generales/imagenes";
@import "./generales/header";

.item-foto-chalten {
    flex: $medidaImagen;
    border: $borde;
}

.general-container {
    position: $position-header;
    z-index: $index-header;
    width: $width-header;
    height: $height;
    background-color: $back;
    font-size: $font-size;
    font-weight: $font-weight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: $margin-top;
    .item-navbar {
        margin-left: $item-margen;
        text-decoration: $item-decoration;
    }
}

//pagina el-viaje.html//
.foto-a-galeria {
   // flex: $medidaImagen;
   // border: $borde;
    background-image: url(../imagenes/pexels-luis-del-río-15286.jpg);
 height: $back-height;
 width: $back-width;
 margin-top: 65px;
 padding: 78px;
 column-gap: 40px;
}

.titulo-vitacora { 
    font-size: $h1-size;
    font-weight: $h1-weight;
    color: $h1-color;
}
.foto-a-galeria {
    padding: 250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.mapa-float {
    float: left;
   // margin-left: 15px;
  //  margin-right: 15px;
    width: 100%;
    height: 150px;
    padding: 5px;
}